.nav {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;

  padding: 2.5rem 8rem;

  border-bottom: 1px solid rgba(white, 0.35);

  @media screen and (max-width: 960px) {
    padding: 2.5rem 3rem;
  }

  &:before {
    content: "";
    position: absolute;
    left: 6rem;
    top: 0;

    z-index: 10;
    pointer-events: none;

    height: 50vh;
    width: 1px;
    background-color: rgba(white, 0.35);

    @media screen and (max-width: 960px) {
      content: none;
    }
  }
}

.nav__logo {
  display: flex;
  align-items: center;

  opacity: 0.8;

  height: 3rem;

  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }

  &-icon {
    height: 100%;
  }

  &-text {
    margin-left: 1rem;

    font-family: merriweather, serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4em;
    color: white;
  }
}

.nav__link {
  opacity: 0.8;

  font-size: 1.5rem;
  line-height: 1.4em;
  color: white;

  transition: all 1.3s;
  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;

    font-weight: 700;

    &:hover {
      cursor: default;
    }
  }

  &--mobile {
    font-size: 2.5rem;
    color: black;
  }

  &-list {
    display: flex;
    align-items: center;

    margin-left: auto;

    list-style: none;

    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  &-wrapper {
    & + & {
      margin-left: 3rem;
    }
  }
}

.nav__burger {
  position: relative;
  z-index: 200;
  display: none;

  margin-left: auto;

  list-style: none;

  @media screen and (max-width: 960px) {
    display: block;
  }

  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }

  &:hover &-line {
    background-color: #03cfff;
  }

  &--active &-line {
    background-color: #03cfff;
  }

  &--active &-line:nth-child(1) {
    transform: translateY(0.75rem) rotate(-135deg);
  }
  &--active &-line:nth-child(2) {
    opacity: 0;
  }
  &--active &-line:nth-child(3) {
    transform: translateY(-0.75rem) rotate(135deg);
  }

  &-line {
    width: 2.5rem;
    height: 0.25rem;

    background-color: white;

    border-radius: 2rem;
    transition: all 0.3s;

    & + & {
      margin-top: 0.5rem;
    }
  }
}

.nav__mobile {
  position: absolute;
  left: 0;
  top: 0;

  display: none;

  z-index: 10;
  overflow-y: auto;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  padding-top: 8rem;
  padding-bottom: 2rem;

  background-color: white;

  &--visible {
    display: flex;
  }

  &-list {
    margin: auto;

    opacity: 0;
    visibility: hidden;

    list-style: none;
    text-align: center;

    transition: all 1s;
    &--visible {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition: all 1s 0.3s;
    }
  }

  &-item {
    & + & {
      margin-top: 2rem;
    }
  }
}
