.header {
  display: block;
  position: relative;
  z-index: 10;

  margin: auto 6.5rem;
  padding-bottom: 2rem;

  @media screen and (max-width: 960px) {
    margin: auto 3rem;
  }
}

.header__cta {
  margin-top: 2rem;

  text-align: center;

  @media screen and (max-width: 640px) {
    text-align: left;
  }

  &-break {
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }

  &-line {
    font-family: merriweather, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4em;
    color: white;
    text-align: left;

    &--pushed {
      display: block;
      position: relative;
      transform: translateX(12rem);

      margin-top: 1rem;

      width: max-content;

      @media screen and (max-width: 640px) {
        transform: translateX(0);
        width: auto;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0.75rem;
        left: -45%;

        width: 215%;
        height: 1px;
        background-color: rgba(white, 0.35);

        @media screen and (max-width: 960px) {
          content: none;
        }
      }
    }
  }

  &-mission {
    opacity: 0.8;

    margin-top: 4.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4em;
    color: white;

    text-shadow: 0 1px 4px rgba(black, 1);
  }

  &-btn {
    display: inline-block;

    margin: 0 auto;
    margin-top: 4.5rem;
    padding: 0.75rem 6rem;

    background-color: #03cfff;
    box-shadow: 6px 6px 10px rgba(#05c5ff, 0.6);
    border-radius: 2.25rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4em;
    color: white;

    transition: all 0.3s;
    &:hover {
      transform: translateY(-0.375rem);
      box-shadow: 6px 8px 12px rgba(#05c5ff, 0.7);
    }
  }
}

.header__steps {
  position: relative;
  display: flex;

  margin-top: 5rem;

  color: white;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;

    width: 70.25rem;
    height: 1px;
    background-color: rgba(white, 0.35);

    @media screen and (max-width: 960px) {
      content: none;
    }
  }

  &-item {
    position: relative;
    flex-shrink: 0;

    width: 23rem;

    & + & {
      margin-left: 8rem;

      @media screen and (max-width: 960px) {
        margin-left: 0;
        margin-top: 2rem;
      }
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: 100%;
      left: -1rem;

      width: 1px;
      height: 32rem;
      background-color: rgba(white, 0.35);

      transform-origin: top;
      transform: rotate(180deg);

      @media screen and (max-width: 960px) {
        content: none;
      }
    }

    &:nth-child(3)::before {
      content: "";
      position: absolute;
      top: 100%;
      left: -0.5rem;

      width: 1px;
      height: 31.125rem;
      background-color: rgba(white, 0.35);

      transform-origin: top;
      transform: rotate(180deg);

      @media screen and (max-width: 960px) {
        content: none;
      }
    }
  }

  &-number {
    opacity: 0.8;

    font-family: merriweather, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4em;

    @media screen and (max-width: 640px) {
      font-size: 2.25rem;
    }
  }

  &-title {
    margin-top: 1.25rem;

    font-family: merriweather, sans-serif;
    font-size: 1.675rem;
    font-weight: 700;
    line-height: 1.4em;

    @media screen and (max-width: 640px) {
      font-size: 1.875rem;
    }
  }

  &-description {
    opacity: 1;

    margin-top: 1rem;

    font-size: 1.25rem;
    line-height: 1.4em;

    filter: drop-shadow(0 2px 8px black);
    text-shadow: 0 1px 4px black;

    @media screen and (max-width: 640px) {
      font-size: 1.5rem;
    }
  }
}

.header__more {
  position: absolute;
  top: 30%;
  right: -12%;

  display: flex;
  align-items: center;

  transform: rotate(90deg);

  @media screen and (max-width: 960px) {
    display: none;
  }

  &-text {
    display: block;
    opacity: 0.9;

    font-size: 1.5rem;
    line-height: 1.4em;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -1rem;

      height: 1px;
      width: 50vh;
      background-color: rgba(white, 0.45);

      transform-origin: left;
      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 4rem;

      height: 1px;
      width: 3rem;
      background-color: rgba(white, 0.45);
    }
  }

  &-scroll {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.7;

    height: 1.5rem;
    width: 3rem;

    margin-left: 5rem;

    border: 1px solid white;
    border-radius: 0.75rem;
  }

  &-arrow {
    height: 100%;

    transform: rotate(-90deg);
  }
}
